<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Ripo</title>
    @Styles.Render("~/Content/css")
    
    <!-- jQuery, Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>        
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <!-- Bootstrap -->    
    <script src="~/Scripts/vendor/bootstrap/bootstrap.min.js"></script>    
    <!-- Css -->    
    <link href="~/Content/IsraAppExam.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <!-- AngularIsraApp app -->
    <script src="~/Scripts/app.js"></script>
</head>
<body>
        @RenderBody() 
</body>
</html>
